.container {
    width: 50vw;
    height: 50vh;
    border: 2px solid gray;
    color: $primary-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

div {
    border: 2px solid gray;
}


.displayInfo-container {


    &__avatar-container {
        border: 2px solid red;

        img {
            border: 2px solid gold;
            display: inline-block;
            width: 30%;
            border-radius: 50%;
            margin-top: 10px;
            margin-left: 50%;
            transform: translateX(-50%)
        }
    }
}